body{
    margin: auto;
    background-color:purple;
    }
    
    h1{
    margin: auto;
    color: red;
    text-align: center;

    }
    ol{
        color: white;
        text-align: center;
        border-block-start-color: violet;
    }
    li{
        text-align: left;
    }