/******************************
GENERAL
*******************************/
body {
  background-color: black;
  font-family: "Open Sans", "sans-serif";
  margin: auto;
}
a {
  text-decoration: none;
}
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
img {
  max-width: 100%;
}
h3 {
  margin: 0 0 1em 0;
  color: aliceblue;
}
/******************************
  HEADING
  *******************************/
header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}
h1 {
  font-family: "Changa One", "sans-serif";
  margin: 40px auto;
  font-size: 54px;
  font-weight: normal;
  line-height: 0.8em;
  color: green;
  text-align: center;
}
#logo {
  text-align: center;
  margin: 0;
  border-style: dotted;
}
h2 {
  font-size: 30px;
  margin: -5px auto;
  font-weight: normal;
  text-align: center;
}

h4 {
  color: aqua;
}

h5 {
  color: aqua;
  text-align: center;
  margin: 30px 500px;
  border-style: solid;
  border-color: green;
}

h6 {
  margin: center;
  text-align: bottom;
  color: green;
  margin: 300px 500px;
}

#Xbox-One {
  background-color: green;
  color: white;
  font-size: 20px;
}
#PS4 {
  background-color: black;
  color: white;
  font-size: 20px;
}
#PC {
  background-color: black;
  color: white;
  font-size: 20px;
}
/******************************
  NAVIGATION
  *******************************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}
nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
nav li {
  display: inline;
}
nav a {
  font-weight: 800;
  padding: 15px 15px;
}
/******************************
  FOOTER
  *******************************/
.social-icons {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
